/* Dashboard.module.css */
.dashboard {
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 100px;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin:5%;
  }
  
  .card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    flex: 1 1 calc(33.333% - 40px);
    text-align: center;
    transition: background-color 0.3s;
    box-sizing: border-box;
    margin-LEFT: 5%;
  }
  
  .card:hover {
    background-color: #e0e0e0;
  }
  
  .stats {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  