/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles personnalisés */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #768295;
}

header {
  padding: 30px;
  background: #21537a;
  height: 50px;
}

.container {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.grid-item {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
